<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.hnu.po.OrderDetail">
    <result column="orderId" jdbcType="INTEGER" property="orderId" />
    <result column="foodId" jdbcType="INTEGER" property="foodId" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <insert id="insert" parameterType="com.hnu.po.OrderDetail">
    insert into t_order_detail (orderId, foodId, number
    )
    values (#{orderId,jdbcType=INTEGER}, #{foodId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}
           )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select orderId, foodId, number
    from t_order_detail
  </select>
</mapper>