<?xml version="1.0" encoding="UTF-8"?>
<!--
  schema约束： 不同的前缀使用不同的约束文件来约束
              也就是说一个xml文件可以受到多个约束文件的约束
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置对象创建的细节
      声明创建一个java.util.Date类型的对象 可以通过birthday来获取
    -->
    <bean id="birthday" class="java.util.Date"></bean>

    <!--
      默认创建对象是单例模式
      创建的时间？  容器构建过程中

      改变创建时间？  lazy-init="true"
         对象不获取就不创建  第一次获取创建  但是还是单例
      是否可以改变单例模式？ scope="prototype"
         对象获取一次创建一次

    -->
    <bean id="user01" class="cn.neusoft.bean.User" scope="prototype"/>

    <!--
      属性值的注入 ： 依赖注入
    -->
    <bean id="user02" class="cn.neusoft.bean.User">
        <property name="username1" value="张三"/>
        <property name="password" value="123456"/>
    </bean>

    <!-- new String("李四")
      使用构造方法
     -->
    <bean id="uname" class="java.lang.String">
        <constructor-arg index="0" value="李四"/>
    </bean>

    <!--<bean id="user03" class="cn.neusoft.bean.User">
        <property name="username" ref="uname"/>
        <property name="password" value="123456"/>
    </bean>

    <bean id="user04" class="cn.neusoft.bean.User">
        <constructor-arg name="username" value="王五"/>
        <constructor-arg name="password" value="6666666"/>
    </bean>

    <bean id="user05" class="cn.neusoft.bean.User">
        <constructor-arg value="986545"/>
        <constructor-arg value="赵六"/>
    </bean>-->

    <bean id="stu01" class="cn.neusoft.bean.Student">
        <property name="birthday" ref="birthday"/>
        <property name="sid" value="1001"/>
        <property name="sname" value="张三丰"/>
    </bean>

    <bean id="stu02" class="cn.neusoft.bean.Student">
        <constructor-arg name="sid" value="1002"/>
        <constructor-arg name="sname" value="李四"/>
        <property name="birthday" ref="birthday"/>
        <property name="sname" value="李三思"/>
    </bean>

    <bean id="stu03" class="cn.neusoft.bean.Student">
        <constructor-arg name="sid" value="1003"/>
        <constructor-arg name="sname" value="王五"/>
        <constructor-arg name="birthday" ref="birthday"/>
    </bean>
</beans>