<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hnu.mapper.EmployeeMapper">

    <cache/>

    <select id="getByDeptno" resultType="Employee">
        select empno,ename,job,sal,hiredate,comm,deptno from emp where deptno=#{deptno}
    </select>

    <!-- 用来测试缓存 -->
    <select id="getByEmpno" resultType="Employee">
        select empno,ename,job,sal,hiredate,comm,deptno from emp where empno=#{empno}
    </select>


</mapper>