<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 名称空间 给映射起名字  方便获取-->
<mapper namespace="EmployeeMapper">

<!--  sql语句通过不同的标签来进行编写  -->
    <select id="getById"  resultType="emp">
        select * from emp where empno = #{empno}
    </select>

    <select id="getAll" resultType="emp">
        select * from emp
    </select>

    <!-- 添加语句 传递的参数是Employee类型 #{属性名}
    parameterType 参数类型  可写可不写
    -->
    <insert id="add" parameterType="emp">
        insert into emp(empno,ename,job,mgr,hiredate,sal,comm,deptno)
        values (#{empno},#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
    </insert>

    <update id="update">
        update emp set ename=#{ename},job=#{job},mgr=#{mgr},hiredate=#{hiredate},sal=#{sal},comm=#{comm},deptno=#{deptno}
        where empno = #{empno}
    </update>

    <delete id="del">
        delete from emp where empno=#{empno}
    </delete>

</mapper>